* {
    box-sizing: border-box
}

h2 {
    font-weight: bold;
}

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

/* Колонки */

.row {
   display: flex;
}
.col {
    flex: auto;
    margin: 0px 30px 30px 0px

}


/* Потом селекторы по классам */

.text-input {

}

.button {
    color:white;
    background-color: #554AF0;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    padding: 10px 115px 10px 20px;
    margin-bottom: 20px;
}


/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
